<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <style>

            #title {
                text-align: center;
            }
            #container {
                font-family: Helvetica, sans-serif;
                margin-left: 10%;
                padding: 2.5% 2.5%;
                width: 75%;
                height: 60%;
                background-color: #ff971d;
            }
            #flightModalityContainer {
                width: 100%;
                height: 33%;
                padding: 1% 2.5%;
                display: inline-block;
                color: black;
            }
            #flightModalityContainer span {
                font-size: 15px;
            }
            #submitButton {
                color: #ff971d;
                font-family: Helvetica, sans-serif;
                background-color: #f9f6f7;
                width: 10%;
                height: 5%;
                padding: 2.0% 2.0%;
            }
            #flightDetailsContainer {
                display: inline-block;
                width: 100%;
                height: 100%;
            }
            #flightRouteDetailsContainer {
                width: 100%;
                height: 50%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding-bottom: 5%;
            }
            #passengerDetailsContainer {
                width: 100%;
                height: 50%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }

            #flightRouteDetailsContainer div {
                width: 10%;
                text-align: center;
                padding: 1% 5%;
            }

            #passengerDetailsContainer div {
                width: 10%;
                text-align: center;
                padding: 0% 5%;
            }

            #flightRouteDetailsContainer div select{
                width: 100%;
            }
            #flightRouteDetailsContainer div input{
                width: 100%;
            }

            #passengerDetailsContainer div select{
                width: 100%;
            }

            #passengerDetailsContainer div button{
                width: 100%;
                height: 50%;
            }
            #flightAvailabilitySubmit{
                width: 100%;
                height: 50%;
            }

            #passengerDetailsContainer div p{
                font-size: 80%;
            }
            .modal {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index: 1; /* Sit on top */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            }

            /* Modal Content/Box */
            .modal-content {
                background-color: #ffffff;
                margin: 15% auto; /* 15% from the top and centered */
                padding: 20px;
                border: 1px solid #888;
                width: 80%; /* Could be more or less, depending on screen size */
            }

            /* The Close Button */
            .close {
                color: #ffe8d6;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }

            .flightAvailabilityContainerOverview {
                background-color: #f9f6f7;
                color: #1b262c;
                border-width: 1px;
                border-style: solid;
                border-color: black;
                padding: 0px 20px;
                margin: 5px 0px;
            }

            .flightOverviewContainer {
                background-color: #f9f6f7;
                color: #1b262c;
                border-width: 1px;
                border-style: solid;
                border-color: black;
                padding: 0px 20px;
                margin: 5px 0px;
            }

            .flightOverviewContainer p h4 {
                color: #1b262c;
            }

            #flightOverviewPassengersContainer {
                background-color: #f9f6f7;
                color: #1b262c;
                border-width: 1px;
                border-style: solid;
                border-color: black;
                padding: 0px 20px;
                margin: 5px 0px;
            }

            #flightOverviewPassengersContainer  p h4 {
                color: #1b262c;
            }

            #TotalPriceOverview {
                background-color: #f9f6f7;
                color: #1b262c;
                border-width: 1px;
                border-style: solid;
                border-color: black;
                padding: 0px 20px;
                margin: 5px 0px;
            }

            #TotalPriceOverview  p h4 {
                color: #1b262c;
            }

            .submitButton {
                font-family: Helvetica, sans-serif;
                font-weight: bold;
                font-size: 20px ;
                height: 20%;
                color: #ffffff;
                background-color: #ff971d;
            }

            #flightAvailabilityContainerOverviewTitle {
                font-weight: bold;
            }

        </style>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <h1 id = "title"> Flight Scanner</h1>
            <div id ="container">
                <div id="flightModalityContainer">
                    <h3>Choose a flight</h3>
                    <label>
                        <input id="round-trip" type="radio" name="answer" value="round-trip" checked>
                        <span>Round-trip flight</span>
                    </label>
                    <label>
                        <input id="one-way" type="radio" name="answer" value="one-way">
                        <span>One way</span>
                    </label>
                </div>
                <div id="flightDetailsContainer">
                    <div id="flightRouteDetailsContainer">
                        <div>
                            <select id="departureSelect"></select>
                        </div>
                        <div>
                            <select id="destinationSelect"></select>
                        </div>
                        <div>
                            <input type="text" id="departureDatepicker" placeholder="Departure">
                        </div>
                        <div>
                            <input type="text" id="returnDatepicker" placeholder="Return">
                        </div>
                    </div>
                    <div id="passengerDetailsContainer">
                        <div>
                            <p>Adults</p>
                            <select class='adultSelect' id="passengerSelect"></select>
                            <p>+12 years</p>
                        </div>
                        <div>
                            <p>Childrens</p>
                            <select class='childrenSelect' id="passengerSelect"></select>
                            <p>2-11 years</p>
                        </div>
                        <div>
                            <p>Babies</p>
                            <select class='babiesSelect' id="passengerSelect"></select>
                            <p>- 24 months</p>
                        </div>
                        <div>
                            <button id="submitButton" type="button" > Search and book </button>
                        </div>
                    </div>
                </div>
                <div id="flightAvailabilityModal" class="modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close">&times;</span>
                            <h2>Pick your Flight </h2>
                        </div>
                        <div class="modal-body" id="outbound">
                            <h3>Outbound</h3>
                            <div id="flightAvailabilityOutboundContainer">
                            </div>
                        </div>
                        <div class="modal-body" id="return">
                            <h3>Return</h3>
                            <div id="flightAvailabilityReturnContainer">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="flightAvailabilitySubmit" class="submitButton" type="button"> Select and Submit</button>
                        </div>
                    </div>
                </div>

                <div id="flightOverviewModal" class="modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close">&times;</span>
                            <h2>Flight Overview</h2>
                        </div>
                        <div class="modal-body" id="outboundOverview">
                            <h3>Outbound</h3>
                            <div id="flightOverviewOutboundContainer">
                            </div>
                        </div>
                        <div class="modal-body" id="returnOverview">
                            <h3>Return</h3>
                            <div id="flightOverviewReturnContainer">
                            </div>
                        </div>
                        <div class="modal-body" id="PassengersOverview">
                            <h3>Passengers</h3>
                            <div id="flightOverviewPassengersContainer">
                            </div>
                        </div>

                        <div class="modal-body" id="priceOverview">
                            <h3>Price</h3>
                            <div id="TotalPriceOverview">
                                <p id="flightOverviewTotalPrice"></p>
                            </div>

                        </div>
                        <div class="modal-footer">

                            <button id="flightOverviewSubmit" class="submitButton" type="button"> Pay </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script>

                $(document).ready( function(){
                    $('#departureSelect').append(new Option('From','no selected', true));
                    $('#destinationSelect').append(new Option('To','no selected', true));
                    $('.close').click(function() {
                        $("#flightAvailabilityModal").hide();
                        $("#flightOverviewModal").hide();
                    });

                    $("input[name='answer']").change(function() {
                        changeVisibilityReturnDatepicker();
                    });
                    fillPassengerSelects();
                    showDepartureOptions();
                    $('#departureSelect').click(function() {
                        showDestinationOptions($( '#departureSelect option:selected').val());
                    });
                    $('#destinationSelect').change(function() {
                        fillDatepickersWithValidValues();
                    });
                    $('#submitButton').click(function() {
                        getFlightAvailability();
                    });
                    $('#flightAvailabilitySubmit').click(function() {
                        departureCode = $( '#departureSelect option:selected').val();
                        destinationCode = $('#destinationSelect option:selected').val();

                        getFlightOverviewBy(
                            $("input[name=" + departureCode + "]:checked").val(),
                            $("input[name=" + destinationCode + "]:checked").val()
                        );
                    });

                });

             function showDepartureOptions() {
                return $.ajax({
                    url:        '/api/flightroutes',
                    type:       'GET',
                    dataType:   'json',

                    success: function(data) {
                        fillDepartureOptions(data);
                    },
                    error : function(xhr, textStatus, errorThrown) {
                        alert('Invalid data.');
                    }
                });
            }

            function fillDepartureOptions(data) {
                for (var key in data) {
                    $('#departureSelect').append(new Option(data[key]['name'],key));
                }
            }

                function showDestinationOptions(departureCode) {
                    $.ajax({
                        url:        '/api/flightroute/'+ departureCode,
                        type:       'GET',
                        dataType:   'json',

                        success: function(data) {
                            fillDestinationOptions(data, departureCode);
                        },
                        error : function(xhr, textStatus, errorThrown) {
                            alert('Invalid data');
                        }
                    });
                }

            function fillDestinationOptions(data, selectedDeparture) {
                $('#destinationSelect').children().remove().end();
                $('#destinationSelect').append(new Option('To','no selected', true));
                for (var key in data[selectedDeparture]['destinations']) {
                    $('#destinationSelect').append(new Option(data[selectedDeparture]['destinations'][key],key));
                }
            }

            function fillPassengerSelects() {
                var select = '';
                for (i=0;i<=100;i++){
                    select += '<option val=' + i + '>' + i + '</option>';
                }
                $('.adultSelect').html(select);
                $('.childrenSelect').html(select);
                $('.babiesSelect').html(select);
            }

             function fillDatepickersWithValidValues() {
                 $.ajax({
                     url:        '/api/flightschedules/',
                     type:       'POST',
                     dataType:   'json',
                     data:       {
                         flightRoute: {
                             departure : $('#departureSelect option:selected').val(),
                             destination: $('#destinationSelect option:selected').val()
                         },
                         flightRouteType: $("input[name='answer']:checked").val()
                     },
                     success: function(data) {

                         fillDatepickerWithIdentifierAndValidDates('#departureDatepicker', data['OUT']);
                         if (data['RET']) {
                             fillDatepickerWithIdentifierAndValidDates('#returnDatepicker', data['RET']);
                         }
                     },
                     error : function(xhr, textStatus, errorThrown) {
                         alert('Invalid data');
                     }
                 });
             }

             function fillDatepickerWithIdentifierAndValidDates(identifier, validDates) {
                 $(identifier).datepicker({
                     dateFormat: 'dd-mm-yy',
                     beforeShowDay: function(date) {

                         function addZero(number) {
                             if (number < 10){
                                 return "0" + number;
                             }  else {
                                 return number;
                             }
                         }
                         var dateFormatted = [
                             addZero(date.getFullYear()),
                             addZero(date.getMonth() + 1),
                             addZero(date.getDate())
                         ].join('-').toString();
                         if (validDates.includes(dateFormatted)) {
                             return [true];
                         } else {
                             return [false];
                         }
                     }
                 });
             }

            function changeVisibilityReturnDatepicker() {
                if (isOneWay()) {
                    $("#returnDatepicker").val('').datepicker("refresh");
                    $("#returnDatepicker").hide();
                } else {
                    $("#returnDatepicker").show();
                }
            }

            function getFlightAvailability() {
                $.ajax({
                    url:        '/api/flightavailability/',
                    type:       'POST',
                    dataType:   'json',
                    data:       {
                        departureDate: $('#departureDatepicker').datepicker('getDate'),
                        departureAirportCode: $('#departureSelect option:selected').val(),
                        destinationAirportCode: $('#destinationSelect option:selected').val(),
                        returnDepartureAirportCode: !isOneWay()
                            ? $('#destinationSelect option:selected').val()
                            : '',
                        returnDestinationAirportCode: !isOneWay()
                            ? $('#departureSelect option:selected').val()
                            : '',
                        returnDate: !isOneWay()
                            ? $('#returnDatepicker').datepicker('getDate')
                            : '',
                    },
                    success: function(data) {
                        showFlightAvailabilityModal(data);
                        $("#flightAvailabilityModal").show();
                    },
                    error : function(xhr, textStatus, errorThrown) {
                        alert('Invalid data');
                    }
                });
            }

            function isOneWay() {
                 return $("input[name='answer']:checked").val() === 'one-way';
            }

            function showFlightAvailabilityModal(data) {

                 if(data['RET'] === undefined) {
                     $('#return').hide();
                 }
                for (var key in data['OUT']) {
                    var elementToAppend = getElementToAppend(data['OUT'][key], key);
                    var element = $('#flightAvailabilityOutboundContainer');
                    element.append(elementToAppend);
                }

                if(data['RET'] !== undefined) {
                    for (var key in data['RET']) {
                        var elementToAppend = getElementToAppend(data['RET'][key], key);
                        var element = $('#flightAvailabilityReturnContainer');
                        element.append(elementToAppend);
                    }
                }
            }

            function getFlightOverviewBy(departureIndex, destinationIndex) {
                $.ajax({
                    url:        '/api/flightavailability/',
                    type:       'POST',
                    dataType:   'json',
                    data:       {
                        departureDate: $('#departureDatepicker').datepicker('getDate'),
                        departureAirportCode: $('#departureSelect option:selected').val(),
                        destinationAirportCode: $('#destinationSelect option:selected').val(),
                        returnDepartureAirportCode: !isOneWay()
                            ? $('#destinationSelect option:selected').val()
                            : '',
                        returnDestinationAirportCode: !isOneWay()
                            ? $('#departureSelect option:selected').val()
                            : '',
                        returnDate: !isOneWay()
                            ? $('#returnDatepicker').datepicker('getDate')
                            : '',
                    },
                    success: function(data) {
                        showFlightOverviewModal(data, departureIndex, destinationIndex);
                        showFlightOverviewPassenger();
                        $("#flightAvailabilityModal").hide();
                        $("#flightOverviewModal").show();
                    },
                    error : function(xhr, textStatus, errorThrown) {
                        alert('Invalid data');
                    }
                });
            }

            function showFlightOverviewModal(data, departureIndex, destinationIndex) {

                if(data['RET'] === undefined) {
                    $('#return').hide();
                }
                price = data['OUT'][departureIndex]['price'];
                departureFlight = getFlightOverviewElementToAppend(data['OUT'][departureIndex],departureIndex);
                var element = $('#flightOverviewOutboundContainer');
                element.append(departureFlight);

                if(data['RET'] !== undefined) {
                    console.log(price);
                    var price = price + data['RET'][destinationIndex]['price'];
                    console.log(price);
                    var destinationFlight = getFlightOverviewElementToAppend(data['RET'][destinationIndex], destinationIndex);
                    var element = $('#flightOverviewReturnContainer');
                    element.append(destinationFlight);
                }

                $('#flightOverviewTotalPrice').text('TOTAL: €' + price);
            }

            function showFlightOverviewPassenger()
            {
                adults = $( '.adultSelect option:selected').val();
                childrens = $( '.childrenSelect option:selected').val();
                babies = $( '.babiesSelect option:selected').val();
                element = `
                            <p>Adult: ${adults}</p>
                            <p>Children: ${childrens}</p>
                            <p>Babies: ${babies}</p>`;
                $('#flightOverviewPassengersContainer').append(element);
            }

            function getFlightOverviewElementToAppend(data, key) {

                departureTime = data['departureTime'];
                departureDay = getDateInString(departureTime);
                departureHour = departureTime.split(" ")[1];
                arrivalTime=data['arrivalTime'];
                arrivalDay = arrivalTime.split(" ")[0];
                arrivalHour = arrivalTime.split(" ")[1];
                price=data['price'];
                seatsAvailables=data['seatsAvailables'];
                departureAirportName=data['departureAirport']['name'];
                departureAirportCode=data['departureAirport']['code'];
                destinationAirportName=data['destinationAirport']['name'];
                return `<div class="flightOverviewContainer" id="flightOverview${key}">
                                            <h4>${departureDay}</h4>
                                            <p>${departureAirportName} -> ${destinationAirportName}</p>
                                            <p>${departureHour}        ->       ${arrivalHour}</p>
                                            <p>  €${price} (price per person)</p>
                                    </div>`;
            }

            function getDateInString(date) {
                 $date = new Date(date);
                var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
                var months = ['January','February','March','April','May','June','July','August','September','October','November','December'];

                var day = days[ $date.getDay() ];
                var month = months[ $date.getMonth() ];
                return (departureTime.split("-")[2]).split(" ")[0] + ' ' + day + ' ' + month + ' ' + departureTime.split("-")[0];
            }

            function getElementToAppend(data, key) {

                departureTime = data['departureTime'];
                departureDay = getDateInString(departureTime);
                departureHour = departureTime.split(" ")[1];
                arrivalTime=data['arrivalTime'];
                arrivalDay = arrivalTime.split(" ")[0];
                arrivalHour = arrivalTime.split(" ")[1];
                price=data['price'];
                seatsAvailables=data['seatsAvailables'];
                departureAirportName=data['departureAirport']['name'];
                departureAirportCode=data['departureAirport']['code'];
                destinationAirportName=data['destinationAirport']['name'];
                seats = showAvailableSeats(seatsAvailables, price);
                return `<div class="flightAvailabilityContainerOverview" id="flightAvailabilityOverview${key}">
                                                <h4> <input type="radio" value="${key}" name="${departureAirportCode}">  ${departureDay}</h4>
                                                <p> <span id="flightAvailabilityContainerOverviewTitle">From:</span> ${departureAirportName}(${departureHour}) to ${destinationAirportName}(${arrivalHour})</p>
                                                <p> <span id="flightAvailabilityContainerOverviewTitle">Price:</span> ${price} €</p>
                                                ${seats}
                                        </div>`;
            }

            function showAvailableSeats(seatsAvailables) {
                    if(seatsAvailables < 10) {
                        return `<p id="flightAvailabilityContainerOverviewTitle"> Only ${seatsAvailables} tickets at ${price} €</p>`;
                    }
                 return '';
            }
            </script>
        {% endblock %}
    </body>
</html>
